h1 {
    color:whitesmoke;
}

.container {
    margin-top: 5%;
    background-color: skyblue;
}

body {
    background-image: url(images/chevron.png);
    background-color: lightgrey;
}

.page-header {
    color: whitesmoke;
}

.selfie {
    max-width: 350px;
    max-height: 350px;
    padding-bottom: 10px;
}

.CSS,
.Fanpage,
.javascript,
.webpage {
    height: 400px;
    width: 400px;
    padding: 20px;
}


