h1 {
    color:teal;
}

.container {
    margin-top: 10%;
    background-color: white;
}

body {
    background-color: lightgrey;
}

.page-header {
    color: teal;
}

.selfie {
    max-width: 400px;
    max-height: 400px;
    padding-bottom: 10px;
}

.CSS {
    height: 400px;
    width: 400px;
}

.Fanpage {
    height: 400px;
    width: 500px;
}

.javascript {
    height: 400px;
    width: 400px;
}

.webpage {
    height: 400px;
    width: 500px;
}

