h1 {
    color:white;
    font-weight: bold;
}

.container-md {
    margin-top: 10%;
    background-color:skyblue;
}

body {
    background-image: url(images/chevron.png);
    background-color: lightgrey;
}

.page-header {
    color:white;
    font-weight: bold;
}

.selfie {
    max-width: 350px;
    max-height: 350px;
    padding-bottom: 10px;
    float: left;
}

.CSS,
.Fanpage,
.javascript,
.webpage {
    height: 300px;
    width: 300px;
    padding: 10px;
}




